<h1>About Me</h1>

<p>Versatile, experienced developer and problem solver. Reliable, self-motivated, professional and positive can-do attitude, friendly bloke.</p>
<p>Previous clients range from large, financial corporations, to the games industry, charities and start-ups.</p>
<p>Embracing the latest technologies and serverless architectures. Continuously learning and improving.</p>
<p>Passionate about producing beautiful, well-tested, maintainable software, using best practices, industry standard design patterns and practices, improving user experiences, eliminating manual processes and improving staff efficiency, using an Agile and iterative approach.</p>
<p>Strong team player, providing technical leadership, guidance and mentoring to colleagues.</p>
<p>Excellent client facing and communication skills. Talented academic (1st Class Honours degree in Mathematics with Computer Science) with creative and systematic approach and excellent problem-solving abilities.</p>
