
<h1>My CV</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-auto">
            <a href="/my_cv/Lee_Oades_CV.html" target="_blank">
                <img src="/assets/img/my_cv.png" width="100px"/>
            </a>
        </div>
        <div class="col-sm">
            <p>Last updated: 18 April 2025</p>
            <a type="button" class="btn btn-outline-dark" href="/my_cv/Lee_Oades_CV.html" target="_blank">Html <i class="fas fa-external-link-alt"></i></a>
            <a type="button" class="btn btn-outline-dark" href="/my_cv/Lee_Oades_CV.pdf" download="Lee Oades CV.pdf">PDF <i class="fas fa-file-download"></i></a>
        </div>
    </div>
</div>
